html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#greet{
    background-color: black;
    padding-left: 10px;
    color: white;
    text-align: left;
    font-size: 70px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

#greetContent{
    position: absolute;
    bottom: 0;
}

#greetContent p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#greetContent a:link, #greetContent a:visited, #greetContent a:hover, #greetContent a:active {
    color: white;
}

#hi {
    font-size: 250px;
    margin-bottom: 0 !important;
    transition: 0.5s;
}

#socials{
    background-color: black;
    color: white;
    padding-left: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 0%;
    transition: 0.5s;
    visibility: hidden;
}

#socials p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#socialLinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    transition: 0.5s;
}

#socialLinks a img {
    width: 50%;
    transition: 0.5s;
}

#contacts{
    background-color: black;
    color: white;
    padding-left: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 0%;
    transition: 0.5s;
    visibility: hidden;
}

#contacts p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#contactLinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    transition: 0.5s;
    font-size: 20px;
}

#emailIcon {
    width: 250px;
    transition: 0.5s;
}

#discordIcon {
    width: 215px;
    transition: 0.5s;
}

/*mobile*/
@media only screen and (max-width: 768px), only screen and (max-height: 884px){
    #greet{
        padding-left: 2px;
        font-size: 40px;
    }

    #hi {
        font-size: 150px;
    }

    #socials{
        padding-left: 0px;
    }

    #socialLinks {
        grid-gap: 1px;
    }

    #contacts{
        padding-left: 0px;
    }

    #contactLinks {
        grid-gap: 1px;
    }

    #emailIcon {
        width: 100px;
    }

    #discordIcon {
        width: 100px;
    }
}

/*tablet*/
@media only screen and (min-width: 769px) and (max-width: 992px), only screen and (min-height: 885px) and (max-height: 924px) {
    #greet{
        padding-left: 4px;
        font-size: 55px;
    }

    #hi {
        font-size: 200px;
    }

    #socials{
        padding-left: 2px;
    }

    #socialLinks {
        grid-gap: 2px;
    }

    #contacts{
        padding-left: 2px;
    }

    #contactLinks {
        grid-gap: 2px;
    }

    #emailIcon {
        width: 225px;
    }

    #discordIcon {
        width: 225px;
    }
}

/*small computers*/
@media only screen and (min-width: 993px) and (max-width: 1279px){
    #greet{
        padding-left: 6px;
        font-size: 60px;
    }

    #hi {
        font-size: 225px;
    }

    #socials{
        padding-left: 2px;
    }

    #socialLinks {
        grid-gap: 5px;
    }

    #contacts{
        padding-left: 2px;
    }

    #contactLinks {
        grid-gap: 5px;
    }

    #emailIcon {
        width: 275px;
    }

    #discordIcon {
        width: 275px;
    }
}